:root {
    --light-grey           : #b1b9bb;
    --grey                 : #838f97;
    --dark-grey            : #515963;
    --bg-grey              : #EBF0F5; 
    --border-grey          : #CED4DA;

    //Blue
    --light-blue           : #f4f6f9;
    --vibrant-blue         : #1d60d8;


    //Green
    --vibrant-green        : #7ac454;
    --dark-green           : #4e8036;

    //Red 
    --red                  : #ec6a66;

    --white                : #FFF;

}
